<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Actions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header>Login</ion-list-header>
    <ion-item>
      <ion-label>User name</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Student Type</ion-label>
      <ion-select [(ngModel)]="studentType">
        <ion-select-option value="day">Day School</ion-select-option>
        <ion-select-option value="night">Night School</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-grid> 
    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="outline" (click)="cancel()">Cancel</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" (click)="login()">Login</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="outline" (click)="alert4()">Alert</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" (click)="loading()">Loading</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
